body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 50px;
    max-height: 200px;
}

header h1 {
    margin-top: 0;
    font-size: 7vw;
    margin-bottom: 8px;
}

header p {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

main p {
    text-align: left;
    font-size: 3.5vw;
    margin-left: 25px;
    line-height: 7vw;
    margin-bottom: 150px;
}

.img-fundo {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-fundo > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 43%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#segunda-pag {
    background-image: url(imagens/background001.jpg);
}

#quarta-pag {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer p {
    margin: 0;
}