* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}


header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    margin-top: 0;
    font-size: 7vw;
    margin-bottom: 8px;
    font-variant: small-caps;
    padding-top: 50px;
}

header p {
    font-size: 1em;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section p {
    text-align: left;
}

.img-fundo {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-fundo > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}

#segunda-pag {
    background-image: url(imagens/background001.jpg);
}

#quarta-pag {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer p {
    margin: 0;
}